<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.User.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controller.User.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>Controller.User.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageBlog</servlet-name>
        <servlet-class>Controller.User.ManageBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Info</servlet-name>
        <servlet-class>Controller.User.InfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAccount</servlet-name>
        <servlet-class>Controller.ADMIN.ManageAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.User.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteBlog</servlet-name>
        <servlet-class>Controller.User.DeleteBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBlog</servlet-name>
        <servlet-class>Controller.User.AddBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBlog</servlet-name>
        <servlet-class>Controller.User.UpdateBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBlogName</servlet-name>
        <servlet-class>Controller.User.SearchBlogNameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>Controller.ADMIN.DeleteAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Infomation</servlet-name>
        <servlet-class>Controller.User.InfomationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUser</servlet-name>
        <servlet-class>Controller.User.SearchUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAnother</servlet-name>
        <servlet-class>Controller.User.SearchAnother</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDate</servlet-name>
        <servlet-class>Controller.User.OrderDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUserBlog</servlet-name>
        <servlet-class>Controller.ADMIN.ViewUserBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBlog</servlet-name>
        <servlet-class>Controller.ADMIN.ListBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserBlog</servlet-name>
        <servlet-class>Controller.ADMIN.DeleteUserBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchListBlog</servlet-name>
        <servlet-class>Controller.ADMIN.SearchListBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindBlogByAccountController</servlet-name>
        <servlet-class>Controller.ADMIN.FindBlogByAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditHomeController</servlet-name>
        <servlet-class>Controller.User.EditHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHome</servlet-name>
        <servlet-class>Controller.User.DeleteHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Favourite</servlet-name>
        <servlet-class>Controller.User.FavouriteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FavBlog</servlet-name>
        <servlet-class>Controller.User.FavBlog</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageBlog</servlet-name>
        <url-pattern>/manageBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Info</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAccount</servlet-name>
        <url-pattern>/manageaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteBlog</servlet-name>
        <url-pattern>/deleteblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBlog</servlet-name>
        <url-pattern>/addblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBlog</servlet-name>
        <url-pattern>/updateblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBlogName</servlet-name>
        <url-pattern>/searchblogname</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/deleteaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Infomation</servlet-name>
        <url-pattern>/information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUser</servlet-name>
        <url-pattern>/searchuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAnother</servlet-name>
        <url-pattern>/searchanother</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDate</servlet-name>
        <url-pattern>/orderdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUserBlog</servlet-name>
        <url-pattern>/viewuserblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBlog</servlet-name>
        <url-pattern>/listblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserBlog</servlet-name>
        <url-pattern>/deleteuserblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchListBlog</servlet-name>
        <url-pattern>/searchlistblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindBlogByAccountController</servlet-name>
        <url-pattern>/findblogbyacc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditHomeController</servlet-name>
        <url-pattern>/updatehomeblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteHome</servlet-name>
        <url-pattern>/deletehomeblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Favourite</servlet-name>
        <url-pattern>/favourite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FavBlog</servlet-name>
        <url-pattern>/favblog</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
